.gallery {
  width: 1128px;
  padding: 0 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  width: calc((1128px - 2 * 24px - 2 * 24px) / 3);
  box-sizing: border-box;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}

/*--- Контейнер форми---*/

.feedback-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* ===== Стилі для міток ===== */
.feedback-form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  margin-bottom: 8px;
}

/* ===== Стилі для полів ===== */
.feedback-form input,
.feedback-form textarea {

  width: 100%;
  padding: 12px;
  font-size: 14px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* ===== Кнопка ===== */
.feedback-form button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background-color: #4e75ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
 background-color: #6c8cff;
}
